/* Write your style here */
ul {
  display: flex;
}
li {
  margin: 20px;
  padding: 20px;
  list-style: none;
}
img {
  width: 50%;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
